library(lme4)

load("C:/Users/yxzhu/Desktop/DHS_data_analysis/Africa_Anemia/data_DHS_Africa.rda")

data<-data_DHS_Africa

#=======================================================================================================================================

#anemia-tempearture

#model fit

model_anemia <- glmer(anemia~data$lag_year_temp
	+ lag0365_percip
	+ as.factor(age_level)
     + as.factor(twin)
	+ as.factor(sex)
	+ child_BMI
	+ as.factor(resid_type)
	+ as.factor(mo_net)
	+ as.factor(wealth_level_new)
	+ as.factor(water_sour)+ as.factor(toilet_type)
	+ as.factor(floor_mat) + as.factor(roof_mat)
	+ maternal_age 
	+ as.factor(maternal_edu)
	+ CPI
     + GDP
	+ month_interview
	+ DHSYEAR
	+ (1|cluster_id_num)
	,family = binomial,na.action = na.exclude,data = data)

#result export

beta_ci <- confint(model_anemia, parm="beta_",method="Wald")
beta_v_ci <- cbind(est=fixef(model_anemia),cc)

or_v_ci <- exp(beta_v_ci)

#=======================================================================================================================================
